{% extends 'base_layout.html' %}

{% block content %}

<div class="m-5">
  <header class="d-flex justify-content-between">
    <h1 class="mb-2">Available tasks</h1>
  </header>
  <main>
    {% if tasks %}
      <div class="mb-4">
      {% for task in tasks %}
        <a href="{% url 'tasks:detail' task.id %}">
          <div class="border border-primary p-2 mb-2">
            <h5>{{task.title}}</h5>
            <p>{{task.description}}</p>
            <p>by: {{task.email}}</p>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <p>No pending tasks</p>
    {% endif %}
    </div>
    <a href="{% url 'tasks:new' %}" class="mb-5">
      <button type="button" class="btn btn-primary">Create new</button>
    </a>
  </main>
</div>
{% endblock %}
